.form_group{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    margin-top: 15px;
    padding: 15px 0 0;
}

.form_group textarea{
    resize: none;
}

.form_field{
    width: 250px;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    background-color: transparent;
    transition: border-color 0.2s;
}

.form_group textarea {
    width: 450px;
}

.form_field::placeholder {
    color: transparent;
}

.form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #6d6d6d;
}

.form_field:placeholder-shown ~ .form_label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form_field:focus {
    padding-bottom: 6px;
    font-weight: 600;
    border-width: 3px;
    border-image: linear-gradient(to right, #ff0062, #00ffff);
    border-image-slice: 1;
}

.form_field:focus ~ .form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    font-weight: 700;
    color: #2afadf;
}

.Button {
    margin-top: 20px;
}