@media (max-width: 1500px) {
    .Contact img{
        display: none;
    }
 }

.Contact {
    background-color: #1d1d1d;
    display: inline-block;
    width: 100vw;
    margin-top: 85px;
    margin-left: 170px;
    position: relative;
    
}

.Contact .Title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 55px;
    margin: 0;
    font-weight: bold;
    text-shadow: 4px 2px #21b6ae;
    color: white;
    display: inline-block;
    float: right;
    clear: right;
    margin-right: 20%;
}

.Contact .Description{
    color: white;
    font-size: medium;
    line-height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 38%;
    padding-top: 20px;
    display: inline-block;
    float: right;
    clear: right;
    margin-right: 20%;
    text-align: right;
}

.ContactForm {
    margin-top: 5%;
    border-left: 1px solid #29EFD2;
    border-bottom: 1px solid #29EFD2;
    display: inline-block;
    padding: 40px 80px;
}

.Contact img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 35%;
}