@media (max-width: 1500px) {
    #arrow {
      display: none;
    }
  }


.Intro {
    color: white;
    display: inline-block;
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: absolute;
}

.Intro .JetpackAnimation{
    width: 200px;
    height: 200px;
}

.Intro .ProgrammingAnim{
    width: 330px;
    height: 330px;
    position: absolute;
    top: 410px;
    right: 510px;
}

.Intro #description{
    position: absolute;
    margin-top: 30px;
    margin-left: 50px;
}



.Intro #title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    margin: 0;
    font-weight: bold;
    text-shadow: 4px 2px #21b6ae;
    
}

.Intro #subTitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    color: #6D6D6D;
}

.Intro #button{
    margin-top: 30px;
}

.Intro #music {
   position: absolute;
   top: 20px;
   right: 15vw;
   background-color: #1d1d1d;
}

.Intro #music button {
    position: absolute;
    top: 40%;
    margin-left: 15px;
    padding: 0;
    border: none;
    background: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    color: #21b6ae;
}

.Intro #music button::before{
    background-color: transparent;
}

#sound_image {
    height: 130px;
    width: 130px;
}

#arrow {
    position: absolute;
    top: 21%;
    right: 20%;
    overflow: hidden;
    
}

#arrow_desc{
    color: #6D6D6D;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float:left;
    padding-top: 170px;
    padding-right: 25px;
}

#arrow_image {
    width: 110px;
    height: 200px;
    transform: rotate(360deg);
    
}